@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root{
    --primary-color: #849BE0;
    --secondary-color: #A8B8E9;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Nunito', sans-serif;;
}

.flex{
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
}

.link {
    text-decoration: none;
    outline: none;
    display: inline;    
}

.container{
    max-width: 900px;
    margin: 0px auto;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    height: 120px;
}

.brandName{
    font-weight: bolder;
    padding-top: 15px;
}
.navigation ul{
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

.navigation ul a{
    color: white;
    padding: 20px;
}

.navigation ul a:hover{
    border-bottom: 1px white solid;
}

.active{
    font-weight: bolder;
}

.hero-image img{
    max-width: 40%;
}

.highlight{
    font-size: 50px;
    font-weight: bolder;
    color: var(--primary-color);
}
.hero-text p{
    font-size: 35px;
    margin: 3rem auto;
}

.hero-section .flex{
    flex-wrap: wrap;
}

header{
    font-size: 2rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
}

.technologies img{
    max-width: 150px;
    margin: 5px 0;
}

.technologies .flex{
    flex-wrap: wrap;
    justify-content: space-around;
}

.projects{
    margin: 5rem 0;
}

.btn {
    padding: 1rem;
    margin: 50rem 0;
    font-size: 1.8rem;
}

.btn-outline{
    border: 1px var(--primary-color) solid;
    border-radius: 1rem;
    margin-top: 5px;
    display: inline;
}

/* Browse button on index.html */
.projects a{
    color: var(--primary-color);
}

.projects a:hover{
    border-bottom: 1px solid var(--primary-color);
}

/* Browse button on index.html */
.blogs{
    margin: 5rem 0;
}
.blogs a{
    color: var(--primary-color);
}

.blogs a:hover{
    border-bottom: 1px solid var(--primary-color);
}

.footer{
    background-color: var(--primary-color);
    height: 160px;
    color: white;   
    bottom:0;
    width:100%;
}

/* Footer */
.footer header{
    padding: 1rem 0;
}

.footer .flex{
    justify-content: center;
}

.footer img{
    padding: 0 1rem;
}


/* Projects.html */

.projects .flex{
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    background-color: var(--primary-color);
    color: white;
    padding: 2rem;
    border-radius: 1rem;
    margin: 1rem 1rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
}

.card-heading{
    margin: 20px 10px;
}

.header{
    font-weight: bolder;
    font-size: 1.5rem;
}

.card-image img{
    max-width: 100px;
    border-radius: 1rem;
    margin: 8px 0;
}

.card-heading a{
    color: white;
    border-bottom: 1px solid white;
}

.card-heading a:hover{
    transform: scale(0.98);
}

/* blogs.html */

.blogs .flex{
    justify-content: center;
    flex-wrap: wrap;
}

.card-blog-image img{
    max-width: 100%;
    border-radius: 5px;
}
.rights{
    padding-top: 8px;
}

.project-link{
    display: block;
    padding: 0.3rem;
}
